<h1>About US</h1>

<p class="about-us">
  Scamazon, not to be confused with Amazon, is a one stop shop where you can find everything your heart desires. We aren't ecommerce experts nor are we copywriters, but we are developers with the aim to sell you cool shit. Peruse our site, buy some stuff and rest easy knowing we probably wont steal your credit card information (however we reserve the right).
</p>