<div id="faq">
  <h2 id="title">FAQ</h2>
  <h3>What the what?</h3>
  <p class="crazy-faq">
    Brooklyn selfies biodiesel, keytar YOLO plaid cliche locavore fap Portland messenger bag raw denim. 
  </p>

  <h3>What the what?</h3>
  <p class="crazy-faq">
    Messenger bag Carles shabby chic slow-carb YOLO, seitan pork belly locavore tofu Portland fanny pack Pinterest Banksy. 
  </p>

  <h3>What the what?</h3>
  <p class="crazy-faq">
    Organic cardigan street art selfies, wayfarers direct trade bespoke disrupt vinyl put a bird on it semiotics mumblecore. 
  </p>

  <h3>What the what?</h3>
  <p class="crazy-faq">
    Organic asymmetrical seitan gentrify, Cosby sweater dreamcatcher vinyl cred pug Etsy High Life ugh. 
  </p>

  <h3>What the what?</h3>
  <p class="crazy-faq">
    Actually beard food truck blog 90's, seitan jean shorts Terry Richardson Wes Anderson Tumblr plaid mumblecore gastropub freegan small batch. 
  </p>

  <h3>What the what?</h3>
  <p class="crazy-faq">
    Butcher Neutra farm-to-table fap slow-carb. Helvetica squid Bushwick aesthetic, Tonx fashion axe retro organic biodiesel.
  </p><br>

  <h1 class="ha">Oh you thought we were going to provide you with frequently asked questions that were actually helpful..? Nah it doesn't get that good.</h1>
</div>