
<td>
  <strong>User Name:</strong>
  <%= @user.user_name.titleize %>
</td>

<td>
  <strong>Email:</strong>
  <%= @user.email.titleize %>
</td>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', new_user_path %>