<h2>Confirm Purchase</h2>
<p>Please carefully review your information. It is much easier for us to take your money when you give us the correct information.</p>
<br><br>
<h3>Shipping Information</h3>
<table>
    <tr>
<!--       added leftcolumn class so we can style the "Name", "Address", etc. -->
      <td class='leftcolumn'> Name </td>
      <td> <%=params[:first_name] %> </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
    </tr>
</table>