 <% if current_user.present? %>
        Hi there, <%= current_user.user_name %>
  <% end %>

<h1> Welcome to SCAMAZON </h1>

<h4> Wanna buy something? We totes won't steal your credit card information. </h4>

  