Hi <%= current_user.user_name %>,

<h1> Welcome to SCAMAZON </h1>

<h4> Wanna buy something? We totes won't steal your credit card information. </h4>

    <button type="button"><%= link_to "Log In", :controller => "sessions", :action => "new" %></button>
  <button type="button"><%= link_to "Sign Out", :controller=> "sessions", :action=> "destroy" %></button>