<h2>Your Fulfillment</h2>
<br>
<% @order.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<p>Total Revenue: </p>
<%= Product.all.inject(0) { |sum, product| sum += product.price  } %>
<br>

<p>Revenue From Paid Orders: </p>
<% if Order.where(:status => 'paid').nil? %>
  <p> None! </p>
<% else %>
  <% sum = 0 %>
  <% Order.where(:status => 'paid').each do |order| %>
    <% order.products.each { |product| sum += product.price  } %>
  <% end %>
  <%= sum %>
<% end %>
