/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  
}
 .container {
  width: 500px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  vertical-align: auto;
  line-height: 30px;
  text-align: center;

 }

 .container th, td {
  border: 1px solid;
  padding: 10px;
 }
