/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #header {
  width: 350px;
  height: 140px;
 }
 #box_in_header {
  width: 450px;
  height: 140px;
  float: right;
 }
 .container {
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  
  line-height: 30px;
  text-align: center;

 }

 .container th, td {
  border: 1px solid;
  padding: 10px;
 }

 .show {
  display: inline-block;
  width: 150px;
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
 }

.show img {
  height: 80px;
}
 .sidebar {
  display: inline-block;
  border:3px solid black;
  float: left;
  padding: 10px;
 }
