/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* liz's stuff */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

#modal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:5px;
}


#content {
    border-radius:5px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}


.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('ajax-loader.gif')
                50% 50%
                no-repeat;
}


body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}


/* end  liz's stuff */

 .header {
  width: 350px;
  height: 45px;
  margin-left: 10px;
 }

li a {
    line-height: 2em;
    padding: 0 1.2em;
    color: white;
    text-decoration: none;
  }

 #footer {
  position: fixed;
  bottom: 0;
  width:  100%;
  height: 35px;
  background: orange;
  }

  #box_in_header {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 250px;
  height: 30px;
  display: inline;

 }


 #box_in_footer {
  margin: 0;
  margin-right: 35px;
  float: right;
  bottom: 5px;
  width: 550px;
  height: 30px;
  display: inline-block;

 }

 body {
  margin:0;
  padding: 10px 0 50px 0;
  height:100%;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

 h2 {
  text-align: center;
  font-size: 50px;
 }

 h3 {
  text-align: center;
  font-size: 35px;
  text-shadow:-1px -.5px 1px orange;
 }

 h4 {
  text-align: center;
  font-size: 20px;
  margin: -50px;
 }

 ul, li {
    list-style: none;
    font-size: 1.040em;

  }

li { display:inline-block;
}



/*first line of pictures on welcome page*/
 #img_cont {
  display: table;
  width: 100%;
  margin: 10px auto;
 }

 #img_cont a {
  display: table-cell;
  text-align: center;
  width: 5%;
 }

 #img_cont img {
  width: 100%;
  max-width: 400px;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  box-shadow: 12px 10px 7px black;
 }
/*second line (line b) of pictures on welcome page*/
 #img_cont_b {
  display: table;
  width: 90%;
  margin: 20px auto;

 }

 #img_cont_b a {
  display: table-cell;
  text-align: center;
  width: 5%;
 }

 #img_cont_b img {
  width: 100%;
  max-width: 300px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  box-shadow: 9px 7px 5px black;
 }

 .logo_font {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", Times, serif;
  font-size: 50px;
 }


 .container h1{
  text-align: center;
 }

 .container{
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
 }

 .show {
  display: inline-block;
  width: 150px;
  height: 295px;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
 }

.show img {
  height: 80px;
}

.reviewbar {
  display: inline-block;
  /*border:1px solid black;*/

 }

.menu_bar {
  width: 100%;
  background-color: orange;
}

.menu_bar a {
  display: inline-block;
  width: 60px;
  height: 100%
}

.menu_bar a:hover,a:active {
  background-color:#ED9121;
  height: 100%;
}

.search {
  position:absolute;
  padding-top: 6px;
  right: 5px;

}

.sidebar {
  position: absolute;
  left: 0;
  padding: 10px;
  display: inline-block;
  border:2px solid orange;
  border-radius: 10px;
  margin: 10px;
}


.notice {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
th, td {
  border-bottom: 1px solid #c6c9cc;
}
tr:last-child td {
  border: 0;
}

.foo {
  padding: 20px;
}

div#konami {
  display: none;
  position: absolute;
  margin-left: 27%;
  margin-top: -280px;
  font-size: 180px;
  color: red;
}

.checkout {
  margin-left: 50%;
}


