// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {  
  width: 650px;  
  margin: auto;  
  padding: 25px 0px;  
}  

hgroup {
  display: inline-block;
  width: 500px;
  margin-left: 300px;
}

figure img {  
  max-width: 400px;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  box-shadow: 12px 10px 7px black;
  display: inline-block;
  position: absolute;
  left: 10px; 
}  

section {    
  line-height: 150%;  
  display: block;  
  width: 300px;  
  color: #333;
  margin: 10px 0 0 50px;
}  

.product h1, h4 {    
  font-weight: normal;  
  margin: 0;   
}  
.product h1 {   
  font-size: 24pt;  
}  

.product h4 {  
  font-size: 16pt;  
  color: #aaa;   
}  

.submit_review {
  margin: 0 50px;
  width: 200px;
  display: block-inline;
}

.review {
  padding: 10px;
  margin-left: 20px;
  display: block-inline;
}

.review_show {
  margin: 10px;
  padding: 10px;
  border: 3px solid orange;
  width: 200px;
  border-radius: 10px;
}