// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*FAQ Page*/

div#faq {
  
}

h1#title {
  text-align: center;
}
h1.ha {
  width: 600px;
  font-size: 25px;
  margin: 0px auto;
}

p.crazy-faq {
  width: 642px;
  margin: 0px auto;
  text-align: center;
}

/*About Us Page*/ 

p.about-us {
  width: 800px;
  font-size: 30px;
  margin: 40px auto;
}

.us {
  text-align: center;
}

.us img {
  margin: 0 0 0 20px;
}
/*Return Policy*/

p.return-policy {
  width: 800px;
  font-size: 30px;
  margin: 40px auto;
  text-align: center;
}

