// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu_bar {
  height: 60px;
  width: 100%;
  background-color: pink;
  text-indent: 5%;
  vertical-align: 50%;
  word-spacing: 30px;
  line-height: 300%;
}
