<h1>Product Information</h1>
<% if @product.retired %>
<h2>This Product Is No Longer Available.</h2>
<% end %>

<strong>Product Name</strong>
<p>  <%= @product.name %></p>

  <strong>Product Description</strong>
 <p> <%= @product.description %></p>

  <strong>Product Category</strong>
 <p> <%= @product.category %></p>

  <strong> Product Price </strong>
 <p> $<%= format("%.2f",(@product.price/100.00)) %></p>

<!-- This is a placeholder -- if the product belongs to the logged-in user, then it should allow user to edit or retire the product, but I'm not sure what that will look like quite yet. -->
 <% if @product.user_id == @user.id %>
  <% end %>

