<!DOCTYPE html>
<html>
<head>
  <title>Scamazon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu_bar">
    <a href="/products">Products</a>
    <a href="/users">Users</a>
    <a href="/reviews">Reviews</a>
    <a href="/orders">Orders</a>
    <a href="/cart">Cart</a>
  </div>

<%= yield %>

</body>
</html>
